@font-face {
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    src: url('../fonts/BalooThambi2-Bold.ttf');
}
@font-face {
    src: url('../fonts/Poppins-Medium.ttf');
}

.radius-45percent {
    -fx-background-radius: 45;
}

.radius-100percent {
    -fx-background-radius: 100;
}

.font-family40{
    -fx-font-family: 'Baloo Thambi 2 Bold';
    -fx-font-size: 40;
}

.font-family18 {
    -fx-font-family: 'Poppins Medium';
    -fx-font-size:18;
}

.font-family13 {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 13;
}

.font-family15 {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 15;
}

.text-fill-gradient{
    -fx-text-fill: linear-gradient(to right,#D6BA71, #A28548);
}

.text-fill-button {
    -fx-text-fill: #ffffff;
}

.text-fill-button:hover {
    -fx-effect: dropshadow(three-pass-box, #ffffff, 10, 0.0, 0, 0);
}
.fill-button-right{
    -fx-fill: linear-gradient(to right,#0063CB, #5AEFFF);
}

.fill-button-left{
    -fx-fill: linear-gradient(to left,#0063CB, #5AEFFF);
}

.background-transparent{
    -fx-background-color: transparent;
}