.background-root {
    -fx-background-color: #e1e6ec;
}
.dropshadow-north{
    -fx-effect: dropshadow(three-pass-box, #ffffff, 21, 0.0, -7, -7);
}
.dropshadow-south{
    -fx-effect: dropshadow(three-pass-box, #bac1d3, 21, 0.0, 7, 7);
}
.text-fill{
    -fx-text-fill: #66727C;
}